.DS_Store
__pycache__*
models.py
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

target/

# properties
dubbo-consumer/src/main/resources/dubbo-consumer.properties
dubbo-provider/src/main/resources/dubbo-provider.properties


# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.log
*.__pycache__
*.pyc
.vscode
package-lock.json

# 忽略目录
build/
tests/
node_modules/

# D2CRUD 演示
src/views/demo/d2-crud/

# node 覆盖率文件
coverage/

# 忽略文件
hongen_fastcms_rest/static/*

.qiniu_pythonsdk_hostscache.json
